<ion-content class="background">
  <br>
  <br>
  <img src="../../assets/img/profile.png" alt="Profile" class="logo"><br>
  <ion-card>
    <ion-card-header class="cardheader">
      Login
    </ion-card-header>
    <ion-card-content>
      <div class="spacer" style="height: 10px;"></div>
      <ion-item>
        <ion-label>
          <ion-icon color="email" name="md-mail"></ion-icon>
        </ion-label>
        <ion-input placeholder="Email" type="text" [(ngModel)]="users.email"></ion-input>
      </ion-item>
      <div class="spacer" style="height: 5px;"></div>
      <ion-item>
        <ion-label>
          <ion-icon color="dark" name="md-lock"></ion-icon>
        </ion-label>
        <ion-input placeholder="Passwords" type="password" [(ngModel)]="users.password"></ion-input>
      </ion-item>
      <div class="spacer" style="height: 10px;"></div>
      <a (click)="openResetPwd()" class="forgotpwd">Forgot login passwords ? <b> Get Help </b> <ion-icon color="primary" name="information-circle"></ion-icon></a>
      <div class="spacer" style="height: 10px;"></div>
    </ion-card-content>
    <ion-row class="rowBnt">
      <button class="btnLogin" ion-button round (click)="doLogin()" small>Login</button>
      <button ion-button round (click)="doRegister()" small>Register</button>
    </ion-row>
  </ion-card>
</ion-content>