page-login {
    .background {
        background-image: url('../../assets/img/background.png');
    } // .scroll-content {
    //     align-content: center;
    //     display: flex;
    //     flex-direction: column;
    //     justify-content: center;
    //     text-align: center;
    // }
    ion-card.card {
        box-shadow: none;
        background: rgba(235, 240, 233, 0.5);
        border-radius: 10px;
    }
    .item {
        border-radius: 10px
    }
    .logo {
        margin: 0 auto;
        display: block;
        max-height: 150px;
        max-width: 200px;
        width: 120px;
        height: 120px;
    }
    ion-card ion-row {
        padding: 20px;
        float: right;
    }
    .cardheader {
        text-align: center;
        color: #ffffff;
    }

    .forgotpwd{
        color: #ffffff;
        font-style: bold;
    }
}