<ion-header>

  <ion-navbar color="bgregister">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Create New Account</ion-title>
  </ion-navbar>

</ion-header>

<ion-content class="background">
  <br>
  <br>
  <img src="../../assets/img/profile.png" alt="Profile" class="logo">
  <h3 class="profile">Profile</h3>
  <ion-card>
    <ion-card-header class="cardheader">
      Register
    </ion-card-header>
    <ion-card-content>
      <div class="spacer" style="height: 10px;"></div>
      <ion-item>
        <ion-label>
          <ion-icon color="primary" name="person"></ion-icon>
        </ion-label>
        <ion-input placeholder="Username" type="text"></ion-input>
      </ion-item>
      <div class="spacer" style="height: 5px;"></div>
      <ion-item>
        <ion-label>
          <ion-icon color="email" name="md-mail"></ion-icon>
        </ion-label>
        <ion-input placeholder="Email" type="text" [(ngModel)]="users.email"></ion-input>
      </ion-item>
      <div class="spacer" style="height: 5px;"></div>
      <ion-item>
        <ion-label>
          <ion-icon color="dark" name="md-lock"></ion-icon>
        </ion-label>
        <ion-input placeholder="Passwords" type="password" [(ngModel)]="users.password"></ion-input>
      </ion-item>
      <div class="spacer" style="height: 10px;"></div>
    </ion-card-content>
    <ion-row>
      <button class="btnLogin" ion-button round (click)="createNewUser(users)" small>Create</button>
    </ion-row>
  </ion-card>
</ion-content>