<ion-tabs color="primary" [selectedIndex]="mySelectedIndex">
    <ion-tab [root]="countryRoot" tabTitle="Country" tabIcon="globe"></ion-tab>
    <ion-tab [root]="contactRoot" tabTitle="Contact" tabIcon="people"></ion-tab>
    <ion-tab [root]="aboutRoot" tabTitle="About" tabIcon="information-circle"></ion-tab>
</ion-tabs>
