<!-- <ion-split-pane> -->
<!-- logged in menu -->
<ion-menu id="mainMenu" [content]="content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Welcome!</ion-title>
    </ion-toolbar>
    <ion-list no-line>
      <ion-item>
        <ion-avatar item-left>
          <img src="../assets/img/profile.png">
        </ion-avatar>
        <ion-label item-right>Sok Dara<br/>
          <p>sokdara@gmail.com</p>
        </ion-label>
        <button clear ion-button item-right icon-only>
              <ion-icon name="more"></ion-icon>
            </button>
      </ion-item>
    </ion-list>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-list-header>
        Dashboard
      </ion-list-header>
      <button ion-item menuClose *ngFor="let p of appPages" (click)="openPage(p)">
              <ion-icon item-start [name]="p.icon" [color]="isActive(p)"></ion-icon>
              {{p.title}}
        </button>
    </ion-list>

    <ion-list>
      <ion-list-header>
        Account
      </ion-list-header>
      <button ion-item menuClose *ngFor="let p of accountPages" (click)="openPage(p)">
                  <ion-icon item-start [name]="p.icon" [color]="isActive(p)"></ion-icon>
                  {{p.title}}
        </button>
    </ion-list>

  </ion-content>

  <ion-footer>

    <!-- <ion-list no-line>
      <ion-item>
        <ion-avatar item-left>
          <img src="../assets/img/fanta.png">
        </ion-avatar>
        <ion-label item-right>Fanta<br/>
          <p>www.nokorgroup.kh</p>
        </ion-label>
      </ion-item>
    </ion-list> -->

    <ion-toolbar color="primary">
    </ion-toolbar>

  </ion-footer>

</ion-menu>
<!-- main-navigation -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
<!-- <ion-split-pane> -->