<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>Country</ion-title>

    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon name="md-search"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let c of countries" (click)="openCountryDetails()">
      <ion-avatar item-left>
        <img src="{{c.flag}}">
      </ion-avatar>
      <h2>{{c.name}}</h2>
      <p>Capital: {{c.capital}}, Region: {{c.region}}</p>
    </ion-item>
  </ion-list>

  <!-- Refresher-->
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content 
    
    pullingIcon="arrow-dropdown" 
    pullingText="Pull to refresh" 
    refreshingSpinner="circles" 
    refreshingText="Refreshing...">

    </ion-refresher-content>
  </ion-refresher>

</ion-content>